<div class="app-container">
  <app-toolbar (toggleDrawer)="drawer.toggle()"></app-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <mat-nav-list>
        <button class="nav-button" mat-button [matMenuTriggerFor]="equipments"><mat-icon matListIcon>hardware</mat-icon><span>Equipments</span></button>
        <button class="nav-button" mat-button [matMenuTriggerFor]="locations"><mat-icon matListIcon>my_location</mat-icon><span>Locations</span></button>

        <mat-menu #equipments="matMenu" xPosition="after">
          <button mat-menu-item routerLink="/equipments">List Equipments</button>
          <button mat-menu-item>New Equipment</button>
        </mat-menu>

        <mat-menu #locations="matMenu">
          <button mat-menu-item>List Locations</button>
        </mat-menu>

        <a mat-list-item routerLink="/equipments"><span>X</span></a>
        <a mat-list-item routerLink="/equipments"><span>Y</span></a>
        <a mat-list-item routerLink="/equipments"><span>Z</span></a>
      </mat-nav-list>
    </mat-drawer>

    <div class="content">
      <router-outlet />
    </div>
  </mat-drawer-container>
</div>

