<div class="app-container">
  <app-toolbar (toggleDrawer)="drawer.toggle()"></app-toolbar>
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" class="slide-drawer">
      <mat-nav-list>
        <a mat-list-item routerLink="/equipments">Equipments</a>
        <a mat-list-item routerLink="/equipments">X</a>
        <a mat-list-item routerLink="/equipments">Y</a>
        <a mat-list-item routerLink="/equipments">Z</a>
      </mat-nav-list>
    </mat-drawer>

    <div class="content">
      <router-outlet />
    </div>
  </mat-drawer-container>
</div>

