mat-drawer-container {
    height: 100vh;

    mat-drawer {
        width: 13%;
    }
}

.mat-drawer-side {
    background-color: black !important;
    color: white !important;
    width: 180px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-top: 10px !important;

    .mat-nav-list {
        padding: 0;
    }

    .mat-mdc-list-item {
        border-radius: 8px !important;
        margin: 0 !important;

        .mat-mdc-list-item-icon {
            color: white !important;
        }

        &:hover {
            background-color: #222 !important;
        }
    }
}

::ng-deep .submenu .mat-mdc-list-item,
::ng-deep .submenu .mat-mdc-list-item .mdc-list-item__primary-text {
  color: white !important;
}

.mat-drawer-container {
  height: 100vh;
}

a.mat-mdc-list-item,
a.mat-mdc-list-item span,
a.mat-mdc-list-item .mat-mdc-list-item-title,
a.mat-mdc-list-item .mat-mdc-list-item-line,
a.mat-mdc-list-item .mat-mdc-list-item-icon,
a.mat-mdc-list-item mat-icon {
  color: white !important;
}


.nav-button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    padding: 0.25rem 1rem;
    margin: 0 !important;
    border-radius: 8px;
}

.mat-mdc-nav-list {
    padding: 0 !important;
    margin: 0 !important;

    button {
        color: white;
    }

    .submenu {
        color: white;
    }

    span {
        font-size: 17px;
        margin-left: 0.5em;
    }

    mat-icon {
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
}








