mat-card {
    max-width: 400px;
    background-color: #2e2e2e;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #c62828;
}

.error-details {
    color: #777;
    font-size: 0.5rem;
}