<!--
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon color="warn">error</mat-icon>
            {{ data.title || 'Error' }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>{{ data.message }}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="onClose()">
            Close
        </button>
    </mat-card-actions>
</mat-card>
-->
<h2 mat-dialog-title>
  <mat-icon color="warn">error</mat-icon>
  {{ data.title || 'Error' }}
</h2>

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="onClose()">Close</button>
</mat-dialog-actions>