/*
:host {
    display: block;
    background-color: #2e2e2e;
    color: white;
    padding: 16px;
    border-radius: 12px;
}

mat-card {
    background: transparent;
    box-shadow: none;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #c62828;
}

.mat-mdc-card-content {
    height: 100%;
}
    */
