html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 1 auto;
    padding: 1rem;
    overflow: hidden;
}

//style text and icon inside sidenav
::ng-deep .mat-mdc-list-item,
::ng-deep .mat-mdc-list-item .mat-mdc-list-item-title,
::ng-deep .mat-mdc-list-item .mat-mdc-list-item-line,
::ng-deep .mat-mdc-list-item .mat-mdc-list-item-icon {
  color: white !important;
}

//mat-menu that opens when clicked on a mat list item
.mat-mdc-menu-panel {
  background-color: black !important;
}

//mat menu - on sidenav element
.mat-mdc-menu-item-text {
  color: white !important;
  font-size: 17px !important;
}
